<div class="row">
    {% for account in accounts %}
    <div class="col-lg-6 mt-4">
        <div class="card p-0">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle p-3 shadow-sm bg-success mr-2">
                        <i class="fa-solid fa-building-columns fa-xl text-light"></i>
                    </div>
                    
                    <div class="">
                        <h5 class="m-0 p-0">{{account.bank_name}}</h5>
                        <p class="text-muted m-0 p-0">Acc No: {{account.acc_no}}</p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a class="text-danger cursor-pointer"
                    hx-get="{% url 'delete-bank-account' %}?id={{account.id}}"
                    hx-trigger="click"
                    hx-target="#dialog">
                    <i class="fa-solid fa-close mr-2"></i>
                    Remove this account
                </a><br>

            </div>
        </div>
    </div>
    {% endfor %}
        
</div>