{% extends 'dashboard_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    
    <div class="col-lg-4 mt-4" hx-get="{% url 'wallet-balance-card' %}" hx-trigger="load, toast from:body">
        
    </div>
    <div class="col-lg-4 mt-4" hx-get="{% url 'currency-card' %}" hx-trigger="load, toast from:body">
        
    </div>
    <div class="col-lg-4 mt-4">
        <div class="card m-0">
            <div class="card-body d-flex align-items-center">
                <div class="rounded-circle p-3 shadow-sm bg-success mr-2">
                    <i class="fa-solid fa-building-columns fa-xl text-light"></i>
                </div>
                
                <div class="d-flex flex-column">
                    <h2 class="h4 m-0">{{accounts|length}}</h2>
                    <p class="text-muted m-0">Bank Accounts</p>
                </div>
            </div>
            <div class="card-footer">
                <a class="text-success cursor-pointer" hx-get="{% url 'add-bank-account'%}" hx-target="#dialog" hx-trigger="click">
                    <i class="fa-solid fa-plus"></i>
                    Add new Bank account
                </a><br>
                
            </div>
        </div>
    </div>
    <div class="col-lg-12 mt-4">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <i class="fa-solid fa-file fa-2xl text-success mr-4"></i>
                <div>
                    <h2 class="h3 m-0">Last 10 Transactions</h2>
                    <small class="text-muted">A complete list of all your recent Transactions</small>
                </div>
            </div>
            <a href="#" class="text-success">
                <i class="fa-solid fa-arrow-up-right-from-square "></i>
                view all transactions
            </a>
        </div>
        <div class="dropdown-divider"></div>
        <div class="col-lg-12 mt-4 p-0">
            <div class="m-0" hx-get="{% url 'get-transaction-list'%}?limit=10" hx-trigger="load">
            </div>
        </div>
    </div>

</div>


{% endblock %}